{% extends 'views/layouts/admin.twig' %}

{% block content %}

<h2>Зона администрирования</h2>

{{ void(App.user.setFlash('success', '<strong>Выберите раздел в меню выше</strong>')) }}
{{ widget('bootstrap.widgets.TbAlert') }}

{% endblock %}