[submodule "lib/yii"]
	path = lib/yii
	url = git://github.com/yiisoft/yii.git
[submodule "lib/booster"]
	path = lib/booster
	url = git://github.com/clevertech/YiiBooster.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/twig-renderer"]
	path = lib/twig-renderer
	url = git://github.com/yiiext/twig-renderer.git
[submodule "lib/ar-relation-behavior"]
	path = lib/ar-relation-behavior
	url = git://github.com/m8rge/activerecord-relation-behavior.git
[submodule "lib/CurlHelper"]
	path = lib/CurlHelper
	url = git://github.com/mediasite/CurlHelper.git
[submodule "lib/ImageHelper"]
	path = lib/ImageHelper
	url = git://github.com/mediasite/ImageHelper.git
