{% extends 'layouts/admin.twig' %}

{% block content %}

<h1>Зона администрирования</h1>

{{ void(App.user.setFlash('success', '<strong>Выберите раздел в меню выше</strong>')) }}
{{ widget('bootstrap.widgets.TbAlert') }}

{% endblock %}